
</div><!-- End of CONTAINER -->
   
      <div class="footer">
         <img class="mt-5" src="images/TheWizzardStudio-Logo.jpg" alt="logo" width="72" height="72" style="border-radius: 50%;">
         <p style="color: white;">&copy; TheWizzardStudio</p>
      </div>
</body>
</html>



