
</div><!-- END of Container -->
</body>

<footer>
   <div class="footer-padding"></div>
      <div class="footer">
         <img src="images/TheWizzardStudio-Logo.jpg" alt="logo" width="72" height="72" style="border-radius: 50%;">
         <p style="color: white;">&copy; TheWizzardStudio</p>
      </div>
   </div>
</footer>

</html>
